* {
    box-sizing: border-box;
}

body {
    /* display: grid; */
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    transform: translate(50%);
    background-color: rgb(143, 148, 139);
    color: rgb(244, 247, 241);
}

img {
    display: block;
    margin: 0 auto;
}